:root {
  --gray-color: #dee3ed;
  --white-color: white;
  --main-color-orange: #f14a0e;
  --sub-color-light-orange: #f57e54;
  --font-sub-text: "Open Sans", sans-serif;
  --font-main-text: "Raleway", sans-serif;
  --font-main-second-text: "Biryani", sans-serif;
  --font-main-third-text: "Montserrat", sans-serif;
  --manu-section-cards-color: #555c6690;
  --manu-section-numbers-font: "Oswald", sans-serif;
  --manu-section-paragraph-color: #b3b3b3;
}
@keyframes slide-up {
  0% {
    transform: translate(0px, 690px);
 
  }
  100% {
    transform: translate(0px, 390px);
  }
}
